/* entire page */
* {
    margin: 0;
    padding: 0;
}
.container {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 4fr; 

}

/* header */
.header {
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.navTop {
    display: grid;
    grid-template-columns: 1fr 20fr 2fr 2fr 4fr;
    align-items: center;
}

.navBottom {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr 1fr 1fr;
    align-items: center;
    gap: 40px
}

.search {
    height: 30px;
    width: auto;
    justify-self: end;
    padding-right: 10px;
    margin-left: 80px;
}

input {
    font-size: 30px;
    border-style: none;
    border-radius: 20px;
    padding-right: 300px;
    justify-self: start;
    background-color: rgb(206, 206, 206);
}
.notify {
    height: 30px;
    width: auto;
    justify-self: end; 
    
}

.profileSmall {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    justify-self: center;
}

.profileLarge {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    justify-self: end;
    margin-left: 80px;
}

.name {
    font-size: 20px;
    justify-self: start;
    margin-right: 40px;
}

button {
    background-color: rgb(54, 54, 54);
    border-radius: 30px;
    font-size: 22px;
    color: white;
    height: 50px;
    width: 140px;
}

.endBtn {
    margin-right: 80px;
}
.welcome {
    font-size: 20px;
    font-weight: 800;
}

.nameLarge {
    font-size: 35px;
}

/* sidebar */
.sidebar {
    background-color: rgb(180, 180, 180);
    grid-row-start: 1;
    grid-row-end: 3;
    color: black;
    display: grid;
    grid-template-rows: 1fr 3fr 3fr;
    grid-template-columns: 1fr 2fr;
    font-size: 30px;
    align-items: center;
}

.icon {
    height: 30px;
    width: auto;
    display: flex;
    padding: 10px;
    padding-left: 40px;
}

.dash {
    padding-bottom: 45px;
}

.bigIcon {
    height: 65px;
    width: auto;
    justify-self: center;
    padding-bottom: 45px;
}
.text {
    padding: 11px;
    padding-right: 45px;
    font-size: 24px;
}

.part2-text {
    padding-bottom: 250px;
}

.part2-icon {
    padding-bottom: 250px;
}

.part1-text {
    padding-bottom: 80px;
}

.part1-icon {
    padding-bottom: 80px;
}
/* main content */
.mainContent {
    background-color: rgb(216, 218, 241);
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 5fr 1fr 5fr;
}

.announceHead {
    grid-row-start: 1;
    grid-column-start: 2;
    justify-self: start;
    align-self: center;
    font-size: 25px;
}

.announcementItems {
    grid-row-start: 2;
    grid-column-start: 2;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: white;
    justify-self: start;
    align-self: center;
    padding: 25px;
    border-radius: 15px;
    width: 350px;
    margin-right: 50px;
}


.aHead {
    font-size: 18px;
}

.aHead2 {
    font-size: 18px;
    padding-top: 10px;
}

.aText {
    font-size: 15px;
    color: rgb(92, 92, 92);
    border-bottom: solid;
    border-color: rgb(158, 158, 158);
    border-radius: 2px;
    padding-bottom: 15px;
}

.aText-last {
    font-size: 15px;
    color: rgb(92, 92, 92);
    border-style: none;
}

.projectHead {
    border-style: solid; 
    justify-self: start;
    align-self: center;
}

.projectItems {
    grid-row: 2/5;
    grid-column-start: 1;
    border-style: solid; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-self: start;
    gap: 30px;
}

.project {
    border-style: solid; 
    width: 350px;
    height: 200px;
    background-color: white;
}

.trendHead {
    grid-row-start: 3;
    grid-column-start: 2;
    justify-self: start;
    align-self: center;
    font-size: 25px;
}

.trendingItems {
    grid-row-start: 4;
    grid-column-start: 2;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    grid-template-columns: 1fr 3fr;
    justify-self: start;
    align-self: start;
    padding: 25px;
    border-radius: 15px;
    background-color: white;
    row-gap: 25px;
    column-gap: 10px;
    width: 350px;
}

.trend p {
    font-size: 15px;
}

.trend h5 {
    font-size: 18px;
}