* {
    margin: 0;
    padding: 0;
}
.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr; 
    width: 100vw;
    height: 100vh;
}

.header {
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-rows: 1fr 2fr;


}

.navTop {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
}

.navBottom {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
    align-items: center;
    gap: 40px
}
.sidebar {
    background-color: rgb(42, 59, 212);
    grid-row-start: 1;
    grid-row-end: 3;
}

.mainContent {
    background-color: rgb(7, 10, 36);
}

.search {
    height: 35px;
    width: auto;
    justify-self: end;
    padding-right: 20px;
}

input {
    font-size: 30px;
    border-style: none;
    border-radius: 20px;
    padding-right: 700px;
    background-color: rgb(206, 206, 206);
}
.notify {
    height: 35px;
    width: auto;
    justify-self: end; 
    padding-left: 310px;
}

.profileSmall {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    justify-self: center;
}

.profileLarge {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    justify-self: end;
}

.name {
    font-size: 30px;
    padding-right: 48px;
    justify-self: end;

}

button {
    background-color: rgb(72, 72, 177);
    border-radius: 30px;
    font-size: 25px;
    color: white;
    height: 50px;
    width: 180px
}

.welcome {
    font-size: 25px;
    font-weight: 800;
}

.nameLarge {
    font-size: 40px;
}